//colors
$very-dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//text
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$kumbhSans: 'Kumbh Sans', sans-serif;
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$text-size: 0.75em;
$light-weight: 400;
$heavy-weight: 700;


//dividers
$light-grayish-blue: hsl(240, 5%, 91%);

//flexcenter
@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




