@import "./variables";

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient($soft-violet, $soft-blue);
  font-family: $kumbhSans;

  @include flexCenter();
}

.container {
  background: white;
  border-radius: 25px;
  margin: 0 20px;
  margin-top: 100px;

  h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0;
  }
}
.graphics-wrapper {
  position: relative;
}
.bg {
  display: none;
}
.woman {
  display: none;
}
.bg-mobile {
  display: block;
  position: absolute;
  left: 45px;
  top: -10px;
}
.woman-mobile {
  display: block;
  position: absolute;
  left: 20px;
  top: -110px;
}
.box {
  display: none;
}

.accordion {
  margin: 0 20px 40px 20px;

  .accordion-item {
    border-bottom: 1px solid #e7e7e9;
  }

  .accordion-input {
    display: none;
  }

  .accordion-question {
    display: block;
    color: $very-dark-grayish-blue;
    font-size: 0.875em;
    position: relative;
    height: 3.125em;
    margin-top: 18px;
    min-width: 280px;

    .accordion-icon {
      position: absolute;
      right: 0;
      transition: transform 300ms ease;
    }
  }

  .accordion-answer {
    display: none;

    p {
      font-size: $text-size;
      position: relative;
      margin-top: 0;
      margin-right: 25px;
      color: $dark-grayish-blue;
      line-height: 1.5;
    }
  }
}

.accordion-input:checked ~ .accordion-answer {
  display: block;
}

.accordion-input:checked ~ .accordion-question {
  height: 30px;
  font-weight: $heavy-weight;
}

.accordion-input:checked ~ .accordion-icon {
  transform: rotate(180deg);
}

.attribution {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: $text-size;

  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    color: $very-dark-blue;
  }
}

@media (min-width: 400px) {
  .graphics-wrapper-inner {
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 112% 62%;
    height: 508px;
    width: 458px;
  }

  .bg-mobile {
    display: none;
  }

  .woman-mobile {
    display: none;
  }

  .woman {
    display: block;
    position: absolute;
    top: 13%;
    left: -17%;
  }

  .box {
    display: block;
    position: absolute;
    left: -28%;
    top: 195px;
  }

  .container {
    display: flex;
    width: 915px;

    h1 {
      text-align: left;
      margin-top: 65px;
      margin-bottom: 25px;
    }
  }

  .accordion {
    margin: 0 90px 40px 20px;

    &-item {
      min-width: 350px;
    }
  }

  .accordion-question {
    height: 2.5em;
    

    &:hover {
      color: $soft-red;
      cursor: pointer;
    }
  }
}
