@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: white;
  border-radius: 25px;
  margin: 0 20px;
  margin-top: 100px;
}

.container h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
}

.graphics-wrapper {
  position: relative;
}

.bg {
  display: none;
}

.woman {
  display: none;
}

.bg-mobile {
  display: block;
  position: absolute;
  left: 45px;
  top: -10px;
}

.woman-mobile {
  display: block;
  position: absolute;
  left: 20px;
  top: -110px;
}

.box {
  display: none;
}

.accordion {
  margin: 0 20px 40px 20px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e7e7e9;
}

.accordion .accordion-input {
  display: none;
}

.accordion .accordion-question {
  display: block;
  color: #4a4b5e;
  font-size: 0.875em;
  position: relative;
  height: 3.125em;
  margin-top: 18px;
  min-width: 280px;
}

.accordion .accordion-question .accordion-icon {
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.accordion .accordion-answer {
  display: none;
}

.accordion .accordion-answer p {
  font-size: 0.75em;
  position: relative;
  margin-top: 0;
  margin-right: 25px;
  color: #787887;
  line-height: 1.5;
}

.accordion-input:checked ~ .accordion-answer {
  display: block;
}

.accordion-input:checked ~ .accordion-question {
  height: 30px;
  font-weight: 700;
}

.accordion-input:checked ~ .accordion-question .accordion-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.attribution {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 0.75em;
}

.attribution a {
  color: white;
  text-decoration: underline;
}

.attribution a:hover {
  color: #1d1e35;
}

@media (min-width: 400px) {
  .graphics-wrapper-inner {
    position: relative;
    overflow: hidden;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 112% 62%;
    height: 508px;
    width: 458px;
  }
  .bg-mobile {
    display: none;
  }
  .woman-mobile {
    display: none;
  }
  .woman {
    display: block;
    position: absolute;
    top: 13%;
    left: -17%;
  }
  .box {
    display: block;
    position: absolute;
    left: -28%;
    top: 195px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 915px;
  }
  .container h1 {
    text-align: left;
    margin-top: 65px;
    margin-bottom: 25px;
  }
  .accordion {
    margin: 0 90px 40px 20px;
  }
  .accordion-item {
    min-width: 350px;
  }
  .accordion-question {
    height: 2.5em;
  }
  .accordion-question:hover {
    color: #f47c57;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */